<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           https://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context
           https://www.springframework.org/schema/context/spring-context.xsd">

    <!-- Project bean -->
    <bean id="project1" class="com.subrat.sbeans.Project">
      <constructor-arg value="1"/> 
      <constructor-arg value="Web Application"/> 
      <constructor-arg value="(6 months)"/> 
    </bean>
    <bean id="project2" class="com.subrat.sbeans.Project">
      <constructor-arg value="2"/> 
      <constructor-arg value="Recruitment System"/> 
      <constructor-arg value="(3 months)"/> 
    </bean>
    
     <!-- Employee bean -->
    <bean id="employee1" class="com.subrat.sbeans.Employee">
    <constructor-arg value="1" />
    <constructor-arg value="alice"/>
    <property name="project" ref="project1"></property>
    </bean>
    <bean id="employee2" class="com.subrat.sbeans.Employee">
    <constructor-arg value="2" />
    <constructor-arg value="bob"/>
     <property name="project" ref="project2"></property>
    </bean>
    
    <!-- Department bean -->
    <bean id="department1" class="com.subrat.sbeans.Department">
    <constructor-arg value="IT"/>
    <constructor-arg>
    <list>
    <ref bean="employee1"/>
    </list>
    </constructor-arg>
    </bean>   
    <!-- Department bean -->
    <bean id="department2" class="com.subrat.sbeans.Department">
    <constructor-arg value="HR"/>
    <constructor-arg>
    <list>
    <ref bean="employee2"/>
    </list>
    </constructor-arg>
    </bean>
    
    <!-- company bean -->
    <bean id="company" class="com.subrat.sbeans.Company">
    <constructor-arg value="TechWave"/>
    <constructor-arg>
    <map>
    <entry key="1" value-ref="department1"/>
    <entry key="2" value-ref="department2"/>
    </map>
    </constructor-arg>    
    </bean>
    
    <!-- Enable annotation support -->
    <context:annotation-config/>

    <!-- Component scan -->
    <context:component-scan base-package="com.subrat.sbeans"/>

</beans>